// defaults from CRA
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea,
input {
  font-family: $font;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}
