.write {
  $border: 5px solid black;
  $font-size: 1rem;

  @extend %flex-center;
  @extend %full-screen;
  background-color: #cc6d3f;
  background: radial-gradient(#cc6d3f, #f2c177 80%);

  & > * {
    margin: 2rem 0;
  }

  .textarea {
    resize: none;
    outline: #d93f38;
    overflow: auto;
    font-size: $font-size;
    border: $border;
    padding: 0.5rem;
    background: #fff;
    z-index: 1;
    width: 66%;
    max-width: 50rem;
    min-height: 33vh;
  }

  textarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pseudo-textarea {
    margin: 0 auto;

    p {
      margin: 0;
    }
  }

  .textarea-wrapper {
    width: 100%;
    position: relative;
    min-height: 33vh;
  }

  button {
    border: $border;
    background: white;
    font-size: $font-size;
    padding: $font-size;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
